body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  background-color: #f4f4f4;
}

button {
  cursor: pointer;
}

button:hover,
a:hover {
  opacity: 0.8;
}

select {
  height: 40px;

  margin: 5px 0px;

  border: 1px solid #a9a8b0;
  border-radius: 2px;
}

.container {
  margin: 0 auto;

  max-width: 933px;
  max-height: 312px;

  display: flex;
  flex-direction: column;

  background-color: #f4f4f4;
}

.header {
  height: 50px;
  margin: 20px;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left-buttons {
  display: flex;
}

.left-buttons button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  padding: 10px 20px;

  border: 0;
  border-bottom: 4px solid #ca242e;

  background-color: transparent;

  cursor: pointer;
}

.left-buttons button span:first-child {
  font-size: 8pt;
  color: #a9a8b0;
}

.left-buttons button span:last-child {
  font-size: 18pt;
  color: #c4242e;
}

.left-buttons button.inactive {
  border: 0;
  border-bottom: 4px solid #a9a8b0;

  background-color: transparent;

  cursor: pointer;
}

.left-buttons button.inactive span:first-child {
  font-size: 8pt;
  color: #a9a8b0;
}

.left-buttons button.inactive span:last-child {
  font-size: 18pt;
  color: #a9a8b0;
}

.tab-button-text {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-left: 20px;
}

.right-buttons {
  margin: 10px;
}

.right-buttons button {
  padding: 10px 35px;

  background-color: transparent;

  color: #f0c88b;
  font-size: 11pt;
  font-weight: bold;

  border: 2px solid #f0c88b;
  border-radius: 5px;
}

.search-box {
  background-color: #fff;

  padding: 20px 50px;
}

.input-area {
  display: flex;
  align-items: baseline;
}

.checkbox-area {
  display: flex;
  flex-direction: row;

  margin: 5px 0 0 12px;
}

.double-area {
  display: flex;
  width: 100%;
}

.left-area,
.right-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  width: 100%;

  margin: 10px;
}

.city-input {
  width: 65%;
}

.distance-select {
  width: 35%;
}

.year-select,
.price-select,
.brand-select,
.model-select {
  width: 48%;
}

.version-select {
  width: 100%;
}

.left-area a {
  margin-top: 25px;

  color: #c4242e;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
}

.right-area a {
  color: #a9a8b0;
  font-size: 10pt;
  text-decoration: none;
}

.right-area button {
  margin-top: 15px;
  padding: 12px 80px;

  background-color: #c4242e;

  border: 0;
  border-radius: 4px;

  color: #fff;
  font-weight: bold;
}
